body{
    font-family: "Work Sans", sans-serif;
}
header{
    background-color: #FFF4E7;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 40px;
    font-size: 18px;
}
nav li a{
    text-decoration: none;
}
nav h3{
    font-size: 40px;
    margin:  0;
}
.banner-title{
    width:80%;
    font-size:64px;
    text-align: center;
    margin: 0 auto;
}
.banner-content{
    text-align: center;
    margin:0 auto;
}
.banner-description{
    
}
.btn-primary{
    padding: 9px 15px;
    background-color: #FF900E;
    color:white;
    border:0;
    border-radius: 4px;
    cursor: pointer;
}
.banner img{
    width:100%;
    margin:30px 0;
}
.features{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    margin: 100px 0;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:5px;
    
}
.features-description{
    width:30%;
}
.experience{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.ex-p{
    padding:0 25px 0 0 ;
}
.ex-conteiner1{
    width: 34%;
    gap:20px;
}
.ex-box{
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgb(204, 219, 232) 0px 0px 5px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.love{
    padding-left: 25px;
    border-left: 5px solid #FF900E;
    width: 40%;
}
.architect {
    position: relative;
    margin-left: 60px;
    margin-bottom: 60px;
}
.year{
    padding: 20px 40px;
    background-color: #FF900E;
    width:14%;
    color:white;
    position: absolute;
    bottom:-60px;
    left: -60px;
}
.fact{
    width: 80%;
    margin:80px auto;

}
.fact-title{
    margin-bottom: 70px;
}
.fact-box h3,p{
    margin:4px 0;
}
.fact-container{
    display: flex;
    justify-content: space-evenly;
}
.fact-box{
    text-align: center;
    width: 20%;
    padding:50px 0;
    border: 2px solid #FF900E;
    border-radius: 5px;
}
.sponsor-title h2,p{
    text-align: center;
}
.sponsor-title p{
    width: 40%;
    margin: 0 auto;
}
.sponsor-box{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}
.sponsor-box img{
    filter:grayscale(1)
}
.sponsor{
    margin: 80px 0;
}

footer{
    width: 80%;
    background-color: #FFF4E7;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
    margin-bottom: 70px;
}
@media screen and (max-width:576px) {
    header{
        padding:50px 40px;
    }
    .sponsor-box{
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }
    .features{
        flex-direction:column-reverse;
        
    }
    .features-description{
        width:95%;
        text-align: center;
    }
    .features-img{
        grid-template-columns: repeat(1,1fr);
    }
    .experience{
        flex-direction: column;
    }
    .ex-conteiner1{
        width: 90%;
    }
    .fact-container{
        display: grid;
        grid-template-columns: repeat(2,1fr)
    }
    .fact-box{
        width: 90%;
    }
    .fact{
        width: 95%;
    }
    .sponsor-box{
        gap:70px;
    }
    footer{
        width: 100%;
        margin-bottom: 20px;
    }
    .architect img{
        width:100%
    }
    .sponsor-title p{
        width: 80%;
    }
    .year{
        padding:10px 20px;
        padding-right: 50px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .experience{
        flex-direction: column;
    }
    header{
        padding:50px 60px;
    }
    .features-description{
        width:35%
    }
    .experience{
        flex-direction: column;
    }
    .ex-conteiner1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 90%;
    }
    .fact{
        width: 90%;
    }
    .sponsor-box{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:50px;
    }
    nav{
        flex-direction: column;
    }
    
}

@media screen and (min-width:992px) and (max-width:1190px ) {
    header{
        padding:50px 80px;
    }
    .experience{
        flex-direction: column;
    }
    .ex-conteiner1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 90%;
    }
    .features-description{
        width:35%
    }
    .fact{
        width: 90%;
    }.sponsor-box{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:50px;
    }
}