body{
    font-family: "Work Sans", sans-serif;
}
header{
    background-color: #FFF4E7;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 40px;
    font-size: 18px;
}
nav li a{
    text-decoration: none;
}
nav h3{
    font-size: 40px;
    margin: 0;
}
.banner-title{
    width:80%;
    font-size:64px;
    text-align: center;
    margin: 0 auto;
}
.banner-content{
    text-align: center;
    margin:0 auto;
}
.banner-description{
    
}
.btn-primary{
    padding: 9px 15px;
    background-color: #FF900E;
    color:white;
    border:0;
}